.product-card {
  border: 3px solid rgb(77, 70, 172);
  margin-bottom: 10px;
}

.mat-icon {
  vertical-align: middle;
}

button {
  background-color: rgb(77, 70, 172);
}

.btn-group {
  width: 100%;

  .btn {
    margin: 0 2% 2% 2%;
    width: 28%;
  }
}

img {
  width: 100px;
  height: 100px;

  background-size: cover;
}
